<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <%- include('partials/head') %>
</head>

<body>

<%- include('partials/navbar') %>

<img src="/img/headerImg2.png" class="jumboImg">

<br><br>


<div class="container contain mx-auto">
    <br>
    <h3 class="text-center">Research Tools</h3>

    <br><br>
    <div class="row mx-auto">
        <div class="col mx-auto">
            <div class="card mx-auto" style="width: 18rem;">
                <img class="card-img-top" src="/img/kn.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Remote Access</h5>
                    <p class="card-text">Remote access for IEEE, McHill, and various premium services.</p>
                    <a href="https://geu.knimbus.com/" class="btn btn-light">Proceed</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/img/sch.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Search Articles</h5>
                    <p class="card-text">Search on Google Scholar directly from here.</p>
                    <a href="/research/scholar" class="btn btn-light">Proceed</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/img/rp.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">DOI Downloader</h5>
                    <p class="card-text">Download research papers from doi.</p>
                    <a href="/research/doi" class="btn btn-light">Proceed</a>
                </div>
            </div>
        </div>
    </div>

    <br><br>
    <!--    <h3 class="text-center">-->
    <!--        Why TheBookTown?-->
    <!--    </h3>-->
    <!--    <br>-->
    <!--    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias cum ea neque recusandae temporibus ut veniam! Ad adipisci aliquam aperiam architecto asperiores commodi consectetur cum deleniti distinctio dolor eius enim ex fuga ipsa, iste iusto magnam minima mollitia nesciunt officia optio perferendis possimus quaerat quasi qui quia quibusdam quisquam recusandae reprehenderit sequi sint sunt tempora tempore temporibus unde vero voluptas? Aperiam aspernatur aut beatae corporis, cumque dolor temporibus vel? Aperiam corporis cumque deserunt ex excepturi illo ipsa ipsam modi nesciunt odio officia perspiciatis, porro quasi tempora tempore veritatis, voluptates! Harum ipsa nesciunt obcaecati perspiciatis quibusdam ut, veniam vero. Amet asperiores dignissimos dolores esse facere illum labore maxime minima nemo quibusdam recusandae, sed sint totam? Adipisci atque, beatae blanditiis cum delectus deserunt error laboriosam laborum nam necessitatibus, neque nesciunt nobis nulla obcaecati odit quidem quod reiciendis saepe sit tempora ullam vel voluptas voluptatum. Accusantium animi facere laboriosam, necessitatibus nisi perferendis? Iure!</p>-->

</div>

<br><br>


<%- include('partials/footer') %>


</body>

</html>